header {
  background-color: #4EA1E6;
  font-size: 17px;
  color: white;
  padding: 15px;
  border-radius: 7%;
  margin: top 3px;
  margin-right: 80%;
}
body {
  display: block;
  background-color: #4F7FE6;
}

.chamada {
  margin-top:-8% ;
}
.texto {
  display:flex;
  margin-right: 20%;
  padding-left:2%;
  margin-top: 10%;
  top: 20px;
  font-size: 35px;
}
.patinho{
justify-content: flex;
padding-left: 45%;
margin-top:-10% ;

}
.barra_de_tarefas img {
  opacity: ;
}
